---
import { buildPath } from '@utils/navigation';
import ThemeSelector from './ThemeSelector.astro';

const navLinks = [
    { name: 'About', href: buildPath('/#about') },
    { name: 'Skills', href: buildPath('/#skills') },
    { name: 'Experience', href: buildPath('/#experience') },
    { name: 'Contact', href: buildPath('/#contact') },
    { name: 'Blog', href: buildPath('/blog') }
];
---

<div class='navbar sticky top-4 z-50 bg-transparent'>
    <div class='flex w-full justify-center'>
        <div
            class='flex w-fit justify-center rounded-3xl bg-base-100/95 p-2 gap-1 shadow-lg'>
            {
                navLinks.map((link) => (
                    <a
                        class='btn btn-ghost btn-sm rounded-3xl hover:text-primary'
                        href={link.href}>
                        {link.name}
                    </a>
                ))
            }
        </div>
        <div class='divider divider-horizontal'></div>
        <ThemeSelector />
    </div>
</div>
