---
import Button from '@components/Button.astro';
import { buildPath } from '@utils/navigation';
import ThemeSelector from './ThemeSelector.astro';

const navLinks = [
    { name: 'About', href: buildPath('/#about') },
    { name: 'Skills', href: buildPath('/#skills') },
    { name: 'Experience', href: buildPath('/#experience') },
    { name: 'Contact', href: buildPath('/#contact') }
];
---

<div class='navbar sticky top-4 z-50 bg-transparent'>
    <div class='flex w-full justify-center'>
        <div class='flex gap-4 items-center'>
            <div
                class='flex w-fit justify-center rounded-xl bg-white/95 border border-neutral/20 p-2 gap-1 shadow-lg dark:bg-base-100/95'>
                {
                    navLinks.map((link) => (
                        <Button
                            type='link'
                            class='btn-ghost lg:btn-sm btn-xs hover:text-primary hover:bg-transparent hover:border-transparent hover:shadow-none'
                            href={link.href}>
                            {link.name}
                        </Button>
                    ))
                }
            </div>
            <Button
                type='link'
                class='lg:btn-sm btn-xs btn-accent lg:p-5 p-[1.15rem] dark:btn-soft dark:shadow-lg'
                href={buildPath('/blog')}>
                Blog
            </Button>
        </div>
        <div class='divider divider-horizontal'></div>
        <ThemeSelector />
    </div>
</div>
