---
import BlogListEntry from '@components/BlogListEntry.astro';
import Card from '@components/Card.astro';
import Title from '@components/Title.astro';
import { getCollection } from 'astro:content';
import Navbar from '../../components/navigation/Navbar.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (
    await getCollection('blog', ({ data }) =>
        import.meta.env.PROD ? data.status === 'published' : true
    )
).sort((a, b) => b.data.creationDate.valueOf() - a.data.creationDate.valueOf());
---

<BaseLayout pageTitle='Blog' class='flex flex-col w-full items-center'>
    <Navbar />
    <div class='flex flex-col gap-12 mt-12 max-w-[75%] text-center mb-16'>
        <div>
            <Title>My Blog</Title>
            <h4 class='italic'>
                A collection of my thoughts, tutorials, and updates.
            </h4>
        </div>
        {
            posts.length > 0 ? (
                <div class='grid grid-cols-1 w-full gap-4'>
                    {posts.map((post) => (
                        <BlogListEntry post={post} />
                    ))}
                </div>
            ) : (
                <Card
                    title='No posts available'
                    icon='academy-cap'
                    content='center'
                    class='shadow-none p-4'
                />
            )
        }
    </div>
</BaseLayout>
