---
import BlogListEntry from '@components/BlogListEntry.astro';
import Title from '@components/Title.astro';
import { getCollection } from 'astro:content';
import Navbar from '../../components/navigation/Navbar.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (
    await getCollection('blog', ({ data }) =>
        import.meta.env.PROD ? data.status === 'published' : true
    )
).sort((a, b) => b.data.creationDate.valueOf() - a.data.creationDate.valueOf());
---

<BaseLayout pageTitle='Blog' class='flex flex-col w-full items-center'>
    <Navbar />
    <div class='flex flex-col mt-12 max-w-[75%] text-center'>
        <Title>My Blog</Title>
        <h4 class='italic'>
            A collection of my thoughts, tutorials, and updates.
        </h4>
        <div class='mt-8 grid grid-cols-3 w-full gap-4'>
            {posts.map((post) => <BlogListEntry post={post} />)}
        </div>
    </div>
</BaseLayout>
