---
import BlogListEntry from '@components/blog/BlogListEntry.astro';
import BlogNavbar from '@components/blog/navigation/BlogNavbar.astro';
import Card from '@components/Card.astro';
import Footer from '@components/Footer.astro';
import Title from '@components/Title.astro';
import type { InferEntrySchema } from 'astro:content';
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const isPinned = (postData: InferEntrySchema<'blog'>) => postData.pinned;
const isProd = import.meta.env.PROD;
const isPublished = (postData: InferEntrySchema<'blog'>) =>
    postData.status === 'published';

const posts = await getCollection(
    'blog',
    ({ data }) => !isPinned(data) && (isProd ? isPublished(data) : true)
);

const pinnedPosts = await getCollection(
    'blog',
    ({ data }) => isPinned(data) && (isProd ? isPublished(data) : true)
);

const allPosts = [...pinnedPosts, ...posts];
---

<BaseLayout pageTitle='Blog' class='flex flex-col w-full items-center'>
    <BlogNavbar />
    <div
        class='flex flex-col gap-12 mt-12 lg:w-3/4 w-[90%] text-center mb-16 flex-1'>
        <div>
            <Title>My Blog</Title>
            <h4 class='italic'>A collection of my thoughts.</h4>
        </div>
        {
            allPosts.length > 0 ? (
                <div class='grid grid-cols-1 w-full gap-4 justify-center'>
                    {allPosts
                        .sort(
                            (a, b) =>
                                b.data.creationDate.valueOf() -
                                a.data.creationDate.valueOf()
                        )
                        .map((post) => (
                            <BlogListEntry post={post} />
                        ))}
                </div>
            ) : (
                <Card
                    title='No posts available'
                    icon='academy-cap'
                    content='center'
                    class='shadow-none p-4'
                />
            )
        }
    </div>
    <Footer class='bg-base-100' />
</BaseLayout>
