/* biome-ignore-all lint: it doesn't support daisyui */

@import "tailwindcss";

@plugin "daisyui" {
	themes: dim --default;
}

@plugin "daisyui/theme" {
	name: "dim";
	default: true;
	prefersdark: true;
	color-scheme: dark;
}

html {
	scroll-behavior: smooth;
}
