/* biome-ignore-all lint: it doesn't support daisyui */

@import "tailwindcss";

@plugin "daisyui" {
	themes:
		bumblebee,
		dim --prefersdark --default;
}

@plugin "daisyui/theme" {
	name: "bumblebee";
	default: false;
	prefersdark: false;
	color-scheme: light;
}

@plugin "daisyui/theme" {
	name: "dim";
	default: true;
	prefersdark: true;
	color-scheme: dark;
}

@custom-variant dark (&:where([data-theme="dim"], [data-theme="dim"] *));

html {
	scroll-behavior: smooth;
}
