---
import Card from '@components/Card.astro';
import Section from './Section.astro';
---

<Section sectionName='about' title='About Me' class='bg-accent-content/20'>
    <div class='flex flex-col gap-4'>
        <div class='grid grid-cols-3 gap-4'>
            <Card icon='briefcase' title='7+ Years Experience'>
                <p class='text-md'>
                    Professional software development since 2017, delivering
                    robust solutions across various industries
                </p>
            </Card>
            <Card icon='academy-cap' title='Strong Academic Background'>
                Strong academic foundation in computer science, complementing
                practical expertise
            </Card>
            <Card icon='code-bracket' title='Fullstack Proficiency'>
                Proficient in both frontend and backend technologies, creating
                end-to-end solutions
            </Card>
        </div>
        <Card>
            <p class='text-lg'>
                I'm a passionate fullstack software developer with over 7 years
                of experience building scalable web applications. My journey in
                software development began in 2017, and since then, I've worked
                with cutting-edge technologies to deliver high-quality
                solutions.
            </p>
        </Card>
    </div>
</Section>
