---
import Icon from '@components/Icon.astro';
import Section from './Section.astro';

const experiences: {
    title: string;
    company: string;
    dates: {
        start: Date;
        end: Date | 'Present';
    };
    description: string;
}[] = [
    {
        title: 'Full Stack Developer',
        company: 'Ensolvers',
        dates: {
            start: new Date('2017-01-01'),
            end: new Date('2019-12-12')
        },
        description:
            'Developing user interfaces and experiences using modern frontend technologies.'
    },
    {
        title: 'Full Stack Developer',
        company: 'Flux IT',
        dates: {
            start: new Date('2020-01-01'),
            end: new Date('2022-12-12')
        },
        description:
            'Developing user interfaces and experiences using modern frontend technologies.'
    },
    {
        title: 'Full Stack Developer',
        company: 'Trovatrip',
        dates: {
            start: new Date('2023-01-01'),
            end: new Date('2024-06-01')
        },
        description:
            'Developing user interfaces and experiences using modern frontend technologies.'
    }
];
---
<Section sectionName='experience' title='Experience' class='bg-accent-content/20'>
    <div class='flex flex-col items-center gap-8'>
        {
            experiences.map((experience) => (
                <div class='card bg-base-100'>
                    <div class='card-body'>
                        <div class='flex flex-row gap-4 items-start'>
                            <div class='badge-soft badge-accent w-fit rounded-md p-2'>
                                <Icon name='calendar-date-range' class='text-2xl' />
                            </div>
                            <div class='flex flex-col gap-1'>
                                <time class='text-xs font-semibold text-accent'>
                                    {experience.dates.start.toLocaleDateString()} -{' '}
                                    {experience.dates.end === 'Present'
                                        ? 'Present'
                                        : experience.dates.end.toLocaleDateString()}
                                </time>
                                <h2 class='card-title'>{experience.title}</h2>
                                <p class='italic'>{experience.company}</p>
                            </div>
                        </div>
                        <div>
                            <p class=''>{experience.description}</p>
                        </div>
                    </div>
                </div>
                <div aria-label="status" class="status status-xl status-accent"></div>
            ))
        }
    </div>
</Section>
