---
import { buildPath } from '../../utils/navigation.ts';
import NavLink from './NavLink.astro';
import ThemeSelector from './ThemeSelector.astro';

const navLinks = [
    { name: 'About', href: buildPath('/#about') },
    { name: 'Skills', href: buildPath('/#skills') },
    { name: 'Experience', href: buildPath('/#experience') },
    { name: 'Contact', href: buildPath('/#contact') },
    { name: 'Blog', href: buildPath('/blog') }
];
---

<div class='navbar sticky top-4 z-50 bg-transparent'>
    <div class='flex w-full justify-center'>
        <div
            class='flex w-fit justify-center rounded-3xl bg-base-100/95 p-2 gap-1 shadow-lg'>
            {
                navLinks.map((link) => (
                    <NavLink text={link.name} href={link.href} />
                ))
            }
        </div>
        <div class='divider divider-horizontal'></div>
        <ThemeSelector />
    </div>
</div>
