---
import Icon from '@components/Icon.astro';
---

<label class='swap swap-rotate'>
    <input
        type='checkbox'
        class='theme-controller'
        value='silk'
        data-toggle-theme='silk,dim'
        data-act-class='ACTIVECLASS'
    />
    <Icon name='sun' class='swap-off text-2xl fill-current' />
    <Icon name='moon' class='swap-on text-2xl fill-current' />
</label>
