---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout pageTitle='Home'>
	<p>
		Welcome to my portfolio page! Here, you'll find a showcase of my
		projects, skills, and experiences as a developer. Feel free to explore
		and learn more about my work.
	</p>
</BaseLayout>
