---
import Footer from '@components/Footer.astro';
import Navbar from '@components/portfolio/navigation/Navbar.astro';
import About from '@components/portfolio/sections/About.astro';
import Contact from '@components/portfolio/sections/Contact.astro';
import Experience from '@components/portfolio/sections/Experience.astro';
import Hero from '@components/portfolio/sections/Hero.astro';
import Skills from '@components/portfolio/sections/Skills.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='Home' class='flex flex-col w-full items-center'>
	<Navbar />
	<Hero />
	<div class='flex flex-col'>
		<About />
		<Skills />
		<Experience />
		<Contact />
	</div>
	<Footer />
</BaseLayout>
