---
import Navbar from '@components/navigation/Navbar.astro';
import About from '@components/sections/About.astro';
import Experience from '@components/sections/Experience.astro';
import Hero from '@components/sections/Hero.astro';
import Skills from '@components/sections/Skills.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='Home'>
	<Navbar />
	<Hero />
	<div class='flex flex-col gap-64'>
		<About />
		<Skills />
		<Experience />
	</div>
</BaseLayout>
