---
import Icon from './Icon.astro';

interface Props {
    title?: string;
    icon?: string;
    class?: string;
}

const { title, icon, class: className } = Astro.props;
---

<div class={`card shadow-lg ${className}`}>
    <div class='card-body'>
        {
            icon && (
                // TODO: move to component
                <div class='badge-soft badge-accent w-fit rounded-md p-2'>
                    <Icon name={icon} class='text-3xl' />
                </div>
            )
        }
        <h2 class='card-title'>{title}</h2>
        <slot />
    </div>
</div>
