---
import Icon from './Icon.astro';

interface Props {
    class?: string;
    title?: string;
    icon?: string;
    content?: 'center' | 'left';
}

const { title, icon, content, class: className } = Astro.props;
---

<div class={`card shadow-lg ${className}`}>
    <div class={`card-body ${content === 'center' ? 'flex items-center' : ''}`}>
        {
            icon && (
                // TODO: move to component
                <div class='badge-soft badge-accent w-fit rounded-md p-2'>
                    <Icon name={icon} class='text-3xl' />
                </div>
            )
        }
        <h2 class='card-title'>{title}</h2>
        <slot />
    </div>
</div>
