---
interface Props {
    class?: string;
}

const { class: className = '' } = Astro.props;
---

<footer
    class={`footer sm:footer-horizontal footer-center dark:text-base-content text-neutral-content p-8 bg-neutral ${className}`}>
    <aside>
        <p class='italic'>
            Made by <span class='bg-primary text-primary-content'>Me</span> with Astro
            and DaisyUI ❤️
        </p>
    </aside>
</footer>
