---
import Button from '@components/Button.astro';
import Icon from '@components/Icon.astro';
import { buildPath } from '@utils/navigation';
---

<div class='navbar sticky top-0 z-50 bg-transparent'>
    <div class='flex w-full'>
        <div class='flex w-full gap-2 items-center justify-between px-16'>
            <Button
                type='link'
                class='btn-sm btn-accent btn-soft'
                href={buildPath('/')}>
                <Icon name='briefcase' class='text-lg' />
                Portfolio
            </Button>
            <Button
                type='link'
                class='btn-sm btn-primary'
                href={buildPath('/blog')}>
                All Posts
            </Button>
        </div>
    </div>
</div>
