---
import Card from '@components/Card.astro';
import Section from '@components/Section.astro';
---

<Section sectionName='about' title='About Me' class='bg-accent-content/20'>
    <div class='flex flex-col gap-4 items-center'>
        <div
            class='mockup-code bg-base-100 lg:max-w-8/12 max-w-full lg:py-6 lg:px-8 px-6 text-balance'>
            <pre
                class='text-wrap'
                data-prefix='$'><b>Product-oriented, AI enhanced</b> full stack software engineer with a strong belief in the importance of <b>good communication</b>.
                    </pre>
            <pre
                class='text-wrap'
                data-prefix='$'>I consider <b>context a really important piece of information</b> to correctly solve the problems I am given to solve to independently execute and decide the best course of action.
                </pre>
            <pre
                class='text-wrap'
                data-prefix='$'>My job is to <b>solve problems, facilitate solutions and improve efficiency</b> providing good and long term designs.
                </pre>
            <pre
                class='text-wrap italic'
                data-prefix='$'>A curious person who enjoys exploring and learning new things, often tinkering in personal time for fun and small challenges.
                </pre>
        </div>
        <div class='grid lg:grid-cols-3 grid-cols-1 gap-4'>
            <Card icon='briefcase' title='Experience' class='bg-base-100'>
                <p class='text-md'>
                    Started my career in 2017, working on a variety of
                    technologies and projects, gaining valuable experience in
                    the software development industry
                </p>
            </Card>
            <Card
                icon='academy-cap'
                title='Strong Academic Background'
                class='bg-base-100'>
                Strong academic foundation in computer science, complementing
                practical expertise
            </Card>
            <Card
                icon='code-bracket'
                title='Fullstack Proficiency'
                class='bg-base-100'>
                Proficient in both frontend and backend technologies, creating
                end-to-end solutions
            </Card>
        </div>
    </div>
</Section>
