---
import Icon from '@components/Icon.astro';
import Section from '@components/Section.astro';
import { formatShortDate } from '@utils/date';

const experiences: {
    title: string;
    company: string;
    dates: {
        start: Date;
        end?: Date;
    };
    description: string;
}[] = [
    {
        title: 'Full Stack Developer',
        company: 'FlexAI',
        dates: {
            start: new Date('2025-05-01'),
        },
        description: "AI workload as a service -WaaS- infrastructure company offering CLI and GUI tools for AI workloads (inferences, fine tunings, trainings) helping optimize them effortlessly."
    },
    {
        title: 'Backend Developer',
        company: 'Dharma',
        dates: {
            start: new Date('2023-11-01'),
            end: new Date('2024-11-01'),
        },
        description: "Tourism platform offering curated trips by influencers and travel experts to provide exceptional travel experiences to guests. The tech team was in charge of building the systems that support the organization processes."
    },
    {
        title: 'Full Stack Developer',
        company: 'Trovatrip',
        dates: {
            start: new Date('2021-03-01'),
            end: new Date('2023-06-01')
        },
        description:
            'Platform and marketplace that brings together different travel-industry roles (operators, hosts, travelers) that allows them to interact to organize trips, create itineraries, manage trips, etc.'
    },
    {
        title: 'Full Stack Developer',
        company: 'Flux IT',
        dates: {
            start: new Date('2020-01-01'),
            end: new Date('2021-02-01')
        },
        description:
            "Consultancy company where I started my formation in the JS fullstack environment (NodeJS, ReactJS). I worked in different projects including Trovatrip's app mentioned above."
    },
    {
        title: 'Full Stack Developer',
        company: 'Ensolvers',
        dates: {
            start: new Date('2018-01-01'),
            end: new Date('2019-12-31')
        }, 
        description:
            'Developed emailing and marketing tools to provide all kind of customers the capabilities to improve their email campaigns, inboxing and therefore achieve smart investments and customer segmentation via tracking methods.'
    },
];
---
<Section sectionName='experience' title='Experience' subtitle='My professional journey' class='bg-accent-content/20'>
    <div class='flex flex-col items-center gap-8'>
        {
            experiences.map((experience, index) => (
                <div class='card bg-base-100 shadow-lg max-w-1/2'>
                    <div class='card-body'>
                        <div class='flex flex-row gap-4 items-start'>
                            <div class='badge-soft badge-accent w-fit rounded-md p-2'>
                                <Icon name='calendar-date-range' class='text-3xl' />
                            </div>
                            <div class='flex flex-col gap-1'>
                                <time class='text-xs font-semibold text-accent'>
                                    {formatShortDate(experience.dates.start)} -{' '}
                                    {experience.dates.end
                                        ? formatShortDate(experience.dates.end)
                                        : 'Present'}
                                </time>
                                <div class="flex gap-2 items-center">
                                    <p class='card-title'>{experience.company}</p>
                                    <h2 class='italic'>{experience.title}</h2>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>{experience.description}</p>
                        </div>
                    </div>
                </div>
                <>
                    {index < experiences.length - 1 && (
                        <div aria-label="status" class="status status-xl status-accent"></div>
                    )}
                </>
            ))
        }
    </div>
</Section>
