---
import Badge from '@components/Badge.astro';
import Button from '@components/Button.astro';
import { buildPath } from '@utils/navigation';
---

<div
    class='flex flex-col w-full gap-8 h-screen bg-base-100 dark:bg-base-300 mt-12 lg:p-0 p-6'>
    <div class='avatar avatar-placeholder justify-center'>
        <div class='w-64'>
            <div class='hover-3d'>
                <figure class='max-w-64 rounded-full bg-secondary/80'>
                    <img
                        class='w-8/12 justify-self-center'
                        src={buildPath('/my-avatar.png')}
                        alt='3d avatar'
                    />
                </figure>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class='flex text-center justify-center'>
        <div class='flex flex-col items-center max-w-md gap-6'>
            <Badge
                class='badge-lg badge-primary dark:badge-primary dark:badge-soft'>
                Fullstack Software Engineer
            </Badge>
            <h1 class='text-5xl font-bold dark:text-white text-base-content'>
                Building Digital Experiences
            </h1>
            <p>
                A playful way to say that I am a software engineer and to show
                my resume in a more engaging way.
            </p>
            <Button class='btn-secondary' href='#contact' type='link'
                >Get In Touch
            </Button>
        </div>
    </div>
</div>
