---
import Button from '@components/Button.astro';
import DownloadCVButton from '@components/DownloadCVButton.astro';
import Icon from '@components/Icon.astro';
---

<div class='flex flex-col w-full gap-8 h-screen bg-base-300 mt-24'>
    <div class='avatar avatar-placeholder justify-center'>
        <div class='bg-accent/80 text-accent-content w-32 rounded-full'>
            <span class='text-3xl'>AER</span>
        </div>
    </div>

    <div class='flex text-center justify-center'>
        <div class='flex flex-col items-center max-w-md gap-6'>
            <div class='badge badge-primary badge-soft badge-lg'>
                Fullstack Software Developer
            </div>
            <h1 class='text-5xl font-bold'>Building Digital Experiences</h1>
            <p>
                7+ years crafting scalable solutions with React, ChakraUI,
                TypeScript, and Python
            </p>
            <div class='grid grid-cols-2 gap-4'>
                <Button
                    class='btn-soft btn-secondary'
                    href='#contact'
                    type='link'
                    ><Icon name='chat-bubble-oval-text' />Get In Touch
                </Button>
                <DownloadCVButton />
            </div>
        </div>
    </div>
</div>
